<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Zelda Trivia</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main/style.css') }}">
    </head>
    <body>
        <header>
             <h1 id="title">The Legend of Zelda Trivia! (v2.0)</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/quiz/take_quiz">Take a Quiz</a></li>
                <li><a href="/quiz/add_questions">Add Questions</a></li>
                <li><a href="/original">v1.0</a></li>
                <li><a href="/about_me">About the Creator</a></li>
            </ul>
        </nav>
        <main>
            <!-- This will be a welcome page that gives options to take a quiz or add questions to the data base -->
        </main>
        <footer>
            <h3>Contact</h3>
            <ul>
                <li>School Email: <a href="mailto:d00188916@utahtech.edu" target="_blank">d00188916@utahtech.edu</a></li>
                <li>LinkedIn: <a href="https://www.linkedin.com/in/justin-bench" target="_blank">linkedin.com/in/justin-bench</a></li>
                <li>GitHub: <a href="https://github.com/JustinBench" target="_blank">github.com/JustinBench</a></li>
                <li>Facebook: <a href="https://m.facebook.com/worthabench/" target="_blank">m.facebook.com/worthabench</a></li>
                <li>Itch.io: <a href="https://rubberduck-1.itch.io/" target="_blank">rubberduck-1.itch.io</a></li>
                <li>YouTube: <a href="https://www.youtube.com/@rubberducknegativeone" target="_blank">youtube.com/@rubberducknegativeone</a></li>
            </ul>
        </footer>
        <script src="{{ url_for('static', filename='main/script.js') }}"></script>
    </body>
</html>