<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Message Log</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main/style.css') }}">
    </head>
    <body>
        <header>
            
        </header>
        <nav>

        </nav>
        <main>
            <form class="message-form">
                <label for="message-input">Add a message</label>
                <textarea id="message-input" name="message" rows="4" required></textarea>
                <button type="submit">Post message</button>
                <p class="form-status" aria-live="polite"></p>
            </form>
            <section class="messages">
                
            </section>
        </main>
        <footer>
            <h3>Contact</h3>
            <ul>
                <li>School Email: <a href="mailto:d00188916@utahtech.edu" target="_blank">d00188916@utahtech.edu</a></li>
                <li>LinkedIn: <a href="https://www.linkedin.com/in/justin-bench" target="_blank">linkedin.com/in/justin-bench</a></li>
                <li>GitHub: <a href="https://github.com/JustinBench" target="_blank">github.com/JustinBench</a></li>
                <li>Facebook: <a href="https://m.facebook.com/worthabench/" target="_blank">m.facebook.com/worthabench</a></li>
                <li>Itch.io: <a href="https://rubberduck-1.itch.io/" target="_blank">rubberduck-1.itch.io</a></li>
                <li>YouTube: <a href="https://www.youtube.com/@rubberducknegativeone" target="_blank">youtube.com/@rubberducknegativeone</a></li>
            </ul>
        </footer>
        <script src="{{ url_for('static', filename='main/script.js') }}"></script>
    </body>
</html>